.page {
  background-color: var(--color-bg);
  min-height: calc(100vh - 64px);
  padding-bottom: 40px;
  padding: 0 32px 40px;
}

.layout {
  display: flex;
  flex-direction: row;
  gap: 32px;
  /* padding: 20px 32px; */
  background-color: var(--color-bg);
}

.left {
  flex: 1;
}

.right {
  flex: 1;
}

@media (max-width: 767px) {
  .layout {
    flex-direction: column;
    padding: 16px;
  }
}
